/* Will be compiled down to a single stylesheet with your sass files */

html {
	background-color: #e3e3e3;
	font-family: Helvetica, sans-serif;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
	.cols{
	    -moz-column-count:2;
	    -moz-column-gap: 10px;
	    -webkit-column-count:2;
	    -webkit-column-gap: 10px;
	    column-count: 2;
	    column-gap: 10px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 320px) {
	.cols{
    -moz-column-count:1;
    -moz-column-gap: 10px;
    -webkit-column-count:1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px) {
	.cols{
	    -moz-column-count:3;
	    -moz-column-gap: 10px;
	    -webkit-column-count:3;
	    -webkit-column-gap: 10px;
	    column-count: 3;
	    column-gap: 10px;
	}
}


@media only screen
and (min-width : 1024px) {
	.cols{
	    -moz-column-count:4;
	    -moz-column-gap: 20px;
	    -webkit-column-count:4;
	    -webkit-column-gap: 20px;
	    column-count: 4;
	    column-gap: 20px;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	.cols{
	    -moz-column-count:5;
	    -moz-column-gap: 10px;
	    -webkit-column-count:5;
	    -webkit-column-gap: 10px;
	    column-count: 5;
	    column-gap: 10px;
	}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	.cols{
	    -moz-column-count:6;
	    -moz-column-gap: 10px;
	    -webkit-column-count:6;
	    -webkit-column-gap: 10px;
	    column-count: 6;
	    column-gap: 10px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

.header {
	position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width:100%;
	background:#fff;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.33);
}

.header h1 {
	font-size: 16px;
	line-height:20px;
	margin-left:2em;
}

.cols {
	width:100%;
	margin-top: 60px;
	padding: 0 20px;
	box-sizing: border-box;
}

.box{
    display: inline-block;
    margin-bottom: 20px;
    -webkit-transition-property: left,right,top;
    -moz-transition-property: left,right,top;
    -ms-transition-property: left,right,top;
    -o-transition-property: left,right,top;
    transition-property: left,right,top;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    box-sizing: border-box;
}

.box {
	background:#FFF;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.33);
	color: #555;
}
.box > img {
	width: 100%;
}
.box .summary img {
	padding:10px;
}
.box h2 {
	padding: 10px;
	font-size: 16px;
	margin:0;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin:  0; padding: 0; }

.left {
	float: left;
}