<div class="header">
	<h1>Endorce</h1>
</div>
<div class="container cols">
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/1" />
		<div class="summary">
			<h2>Item 1</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/1" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/2" />
				<div class="summary">
			<h2>Item 2</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/2" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/3" />
				<div class="summary">
			<h2>Item 3</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/3" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/4" />
				<div class="summary">
			<h2>Item 4</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/4" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/5" />
				<div class="summary">
			<h2>Item 5</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/5" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/6" />
				<div class="summary">
			<h2>Item 6</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/6" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/230/300/fashion/7" />
				<div class="summary">
			<h2>Item 7</h2>
			<hr/>
			<div>
				<img src="http://lorempixel.com/40/40/people/7" class="left"/>
				<p class="left">Name</p>
			</div>
		</div>
	</div>
</div>