<div class="header">
	<h1 class="logo"><img src="/img/logo.png"></h1>
	<span>Experts Endource it we source it</span>
</div>
<div class="container cols">
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/1" />
		<div class="summary">
			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/220/fashion/2" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/150/fashion/3" />
				<div class="summary">

			<div>
				<img src="/img/social-bar.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/4" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/190/fashion/5" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/6" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/7" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/150/fashion/8" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/9" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/190/fashion/10" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/1" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/2" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/3" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/190/fashion/4" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/5" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
	<div class='box'>
		<img src="http://lorempixel.com/220/300/fashion/6" />
				<div class="summary">

			<div>
				<img src="/img/social-bar-off.png" class="left"/>
			</div>
		</div>
	</div>
</div>